<html>

{{ template "globals/header" .}}

<body>
  <section class="hero is-purple is-light is-fullheight">
    <div class="hero-body is-align-items-flex-start">
      <div class="container">
        <div class="columns is-centered is-multiline">
          <div class="column is-10">
            <h1 class="title is-1">
              Services List:
            </h1>
          </div>

          <div class="column is-10 is-flex is-justify-content-flex-end">
            <label class="switch">
              <input id="poolingInput" type="checkbox" checked="true">

              <span class="slider round"></span>
            </label>

            <h3 class="subtitle is-4 is-centered ml-1">
              Pooling
            </h1>
          </div>

          <div class="column is-10 is-flex is-justify-content-flex-end">
            <div class="buttons">
              <button id="addServiceBtn" class="button is-success">Add Service</button>
              <button id="startServicesBtn" class="button is-warning">Start Services</button>
              <button id="stopServicesBtn" class="button is-danger">Stop Services</button>
            </div>
          </div>

          <div class="column is-10 is-flex is-justify-content-center">
            <table class="table is-fullwidth is-striped is-hoverable"/>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Git URL</th>
                  <th>Port</th>
                  <th>Language</th>
                  <th>Pooling Interval</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody id="servicesListTable"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ template "globals/loader" .}}

  {{ template "globals/scripts" .}}

  <script src="/static/js/list-services.js"></script>
</body>

</html>
