<html>

<head>
  <title>{{.Title}}</title>
  <meta charset="utf-8" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=6.0">
  <meta name="robot" content="all">
  <meta name="rating" content="general">
  <meta name="distribution" content="global">
  <meta name="language" content="en">
  <meta name="robots" content="index,follow">

  <meta name="theme-color" content="#5f163a">

  <link rel="apple-touch-icon" href="/static/icon.png">
  <meta property="og:image" content="/static/icon.png">

  <meta name="description" content="{{.Description}}">
  <meta property="og:description_safe" content="{{.Description}}" />

  <meta property="og:title" content="{{.Title}}" />
  <meta property="twitter:title" content="{{.Title}}" />

  <meta name="author" content="@joaomarcuslf">

  <link rel="shortcut icon" href="/static/icon.png" />
  <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
</head>

<body>
  <section class="hero is-purple is-light is-fullheight">

    <div class="hero-body is-align-items-flex-start">
      <div class="container">
        <div class="columns is-centered is-multiline">
          <div class="column is-10">
            <h1 class="title is-1">
              Services List:
            </h1>
          </div>

          <div class="column is-10 is-flex is-justify-content-flex-end">
            <label class="switch">
              <input id="poolingInput" type="checkbox" checked>

              <span class="slider round"></span>
            </label>

            <h3 class="subtitle is-4 is-centered ml-1">
              Pooling
            </h1>
          </div>

          <div class="column is-10 is-flex is-justify-content-flex-end">
            <div class="buttons">
              <button id="addServiceBtn" class="button is-success">Add Service</button>
              <button id="startServicesBtn" class="button is-warning">Start Services</button>
              <button id="stopServicesBtn" class="button is-danger">Stop Services</button>
            </div>
          </div>

          <div class="column is-10 is-flex is-justify-content-center">
            <table class="table is-fullwidth is-striped is-hoverable"/>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Git URL</th>
                  <th>Port</th>
                  <th>Language</th>
                  <th>Pooling Interval</th>
                  <th>Status</th>
                </tr>
              </thead>

              <tbody id="servicesListTable"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
  <script src="/static/js/helpers/toastr.js"></script>
  <script src="/static/js/helpers/http.js"></script>
  <script src="/static/js/list-services.js"></script>
</body>

</html>
